extends nodeHelloLayout

append subnav
          
block content
    div(class="jumbotron text-center")
        h1 Node Hello!
        p Congrats...  your server lives and breathes


block bodyscript
    script.
      console.log("nodeHelloHome.pug is loaded, replaces bodyscript")
      
